/home/lucas/WIP_PET/Malicious_CAN_Bus_detector/src/CAN_Invaders/detection/__pycache__
/home/lucas/WIP_PET/Malicious_CAN_Bus_detector/src/CAN_Invaders/generation/__pycache__
/home/lucas/WIP_PET/Malicious_CAN_Bus_detector/src/CAN_Invaders/__pycache__
/home/lucas/WIP_PET/Malicious_CAN_Bus_detector/src/malicious_can_bus_detector.egg-info